@import "styles";

.textUl{
    @include media-up(lg){
        text-transform: uppercase;
    }
}

.divBuscador{
    width: 100%;
}

.itemTalento:hover{
    text-decoration: underline;
}

#searchIcon{
    @include media-up(lg){
        display:none;
    }
}






